# ==========================================
# BACKUP AND RESTORE CONFIGURATION VARIABLES
# ==========================================
DEST_USER="user"        # User for the remote backup server
DEST_IP="192.168.X.X"   # IP for the remote backup server
DEST_DIR="/path/backup" # Backup directory at the remote backup server

SQL_CONTAINER="mariadb"            # Container name for the SQL server on the host
SQL_ROOT_PASSWD="your_root_passwd" # Root password for the SQL Server

SSH_KEY="/home/user/.ssh/private-key" # Path to the ssh private key used to connect to the remote backup server

NEXTCLOUD_DATA_DIR="/DATA/AppData/nextcloud/html/data" # Leave it blank if you don't use Nextcloud and skip its step at the restore script